.container {
    @apply mx-auto;
    @apply flex justify-between items-center;
    @apply w-10/12 h-[100px] rounded-xl px-9 gap-9;
    @apply bg-transparent border-2 border-blue-100 text-blue-600;
}

.container > form {
    @apply flex justify-between items-center w-full h-full;
}

.leftContainer {
    @apply flex flex-1 gap-9 justify-center items-center box-border;
}

.inputContainer{
    @apply flex-1;
    @apply h-[50px];
}

