.container {
    @apply w-full flex flex-col gap-3 transition transition-all duration-500 ease-in-out top-0 font-inter overflow-hidden;
    @apply rounded-lg;
    @apply bg-white border-2 border-grey-300 border-l-4 xl:border-l-2 xl:border-transparent;
    @apply p-4 pl-4 break-words;
}

.container.redBorder {
    border-color: #FAA492 !important;
}
.container.redBorder .subContainer {
    border-color: #FAA492 !important;
}

.header {
    @apply w-full flex justify-between items-center gap-3;
}

.deleteButton {
    @apply text-red-400 opacity-100;
}

.header button {
    @apply transition-all duration-300 ease-in-out;
}
.container:not(.redBorder):hover .header button  {
    @apply opacity-60;
}
.container.redBorder:hover .header button {
    @apply opacity-100;
}
.container:hover .header button:hover {
    @apply opacity-100;
}
.header button:not(.deleteButton) {
    @apply text-grey-350 opacity-100 xl:opacity-0 transition-all ease-in-out duration-300;
}

.headerActions {
    @apply flex gap-1 justify-center items-center;
}

.container:hover .actionCancel,
.headerActions .actionCancel {
    @apply opacity-100;
}

.date {
    @apply font-inter text-[14px] font-semibold text-grey-400 opacity-70;
}

.content {
    @apply font-semibold text-gray-600
}

.deleteContent {
    @apply text-red-400;
}